# Entorno virtual
.venv/
venv/

# Variables de entorno
.env

# Cachés de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de logs
*.log
*.tmp

# Configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
